
.metadata/.mylyn/.taskListIndex/segments_1

.metadata/**

*.fdt

.recommenders/**

Servers/**

*.properties

RemoteSystemsTempFiles/.project

WebServiceClient/.classpath

WebServiceClient/.project

*.prefs

webServiceClientWithJar/.classpath

webServiceClientWithJar/.project
